.cat-info {

    position: absolute;
    z-index: 400;
    width: 80%;
    max-width: 700px;
    height: 75%;

    padding: 5vw;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: #d0dbff 1px solid;
    box-shadow: 2px 2px 4px #cad5ff;

    transition: all ease-in-out 400ms;
}

.cat-info-container {

    display: grid;
    grid-template-areas: "name-job img" "desc img";
    grid-template-columns: 1fr 1fr;

    overflow: hidden;
    width: 100%;
    height: 100%;

}

.cat-info.hidden {
    transform:  scale(0.5);
    opacity: 0;
    pointer-events: none;

    transition: all ease 400ms;
}

.cat-info-close-button {
    position: absolute;
    top: 0.5em;
    right: 0.5em;

    border-radius: 15px;
    background-color: #e4ecfd;
    border: none;
    color: #0f4ed3;
    height: 40px;
    width: 40px;
    padding: 0;

    font-size: 1.5em;

    transition: all ease 200ms;
}

.cat-info-close-button:hover {
    transform: scale(1.1);
    background-color: #ffcdd6;
    color: #ee3f58;
}

.cat-info-header {
    grid-area: name-job;
}

.cat-info-name {

    font-size: 2em;
    margin: 0;
}

.cat-info-job {
    font-size: 1em;
    color: #0065b1;
    margin: 0;
}

.cat-info-img-container {
    grid-area: img;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    border-radius: 10px;

    height: 100%;
}

.cat-info-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cat-info-desc {
    grid-area: desc;
    margin: 10px 20px 10px 0;
    overflow: auto;
}

@media (max-width: 450px) {
    .cat-info-container {
        display: flex;
        flex-direction: column;
    }

    .cat-info {
        width: 90%;
        height: 90%;
    }

    .cat-info-img-container {
        height: 60%;
        width: 70%;
    }

}

