@media (min-width: 1200px) {
    .control-button {
        display: none;
    }
}

.list-container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.cats-ul {
    overflow: hidden;
    display: flex;
    padding: 1em 0 1em;
    height: 50%;
    scroll-behavior: smooth;
}

.control-button {
    border: none;
    border-radius: 10px;
    background-color: #e9f4ff;
    color: #0d4cd3;

    opacity: 1;

    width: 3em;
    height: 45vh;

    transition: transform 0.2s;
}

.control-button:hover {
    background-color: #d7e9ff;
    transform: scale(1.05);
}

.control-button.hidden {
    opacity: 0;
}
