main {
    background-color: #fafcff;
    scroll-behavior: smooth;
}

.main-body {
    margin: 2em 1em 2em;
}

.header2 {
    color: #0b1f33;
    font-size: 2em;
    margin-left: 1em;
    margin-top: 1em;;
}