.search-container {
    position: relative;
}

.search-bar {
    margin: 0 auto 0;
    width: 100%;
    height: 2em;

}

.results {
    position: absolute;
    background-color: white;
    list-style: none;
    padding: 0.5em;
    border-radius: 10px;
    border: #eaf1fc 1px solid;
    margin-top: 0;
    max-height: 30vh;
    overflow: auto;

    width: 100%;
}

.results > li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9f4ff;
    margin: 5px 0 5px;
    height: 2em;
    border-radius: 10px;
}

.results>li:hover {
    transform: scale(1.03);
}

.results>li:focus {
    transform: scale(1.03);
}

@media (max-width: 450px) {

}